.BackgroundImageWithText {
    height: 500px;
    width: 100%;
    background: url("./SectionImage.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.BackgroundImageWithText div {
    position: sticky;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.BackgroundImageWithText div p {
    color: white;
}

.AttachmentBlackoverlayContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.661);
}