.ourApprochImageContainer img {
    width: 100%;
}

.ourApprochImageContainer {
    display: flex;
    flex-direction: column;
}

.OurApprochContentContainer .sectionPadding h2 {
    color: rgb(13, 42, 59);
    letter-spacing: -1.4px;
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 58px;
    font-weight: 500;
    line-height: 107%;
}

@media (max-width:900px) {
    .OurApprochContentContainer .sectionPadding h2 {
        color: rgb(13, 42, 59);
        letter-spacing: -1.4px;
        margin-top: 0;
        margin-bottom: 26px;
        font-size: 30px;
        font-weight: 500;
        line-height: 107%;
    }
}