#AllProjectsPageContainer .ProjectsSectionHeading {
    color: #0d2a3b;
    letter-spacing: -1.4px;
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 58px;
    font-weight: 500;
    line-height: 107%;
    width: 400px;
    background: white;
    position: sticky;
    top: 70px;
    padding-bottom: 0px !important;
    padding: 53px 0px;
    z-index: 2;
}

.ProjectsCardsContainer {
    transition: .5s;
}

.ProjectsCardsContainer .HoverContainerContainer {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 0px 40px;
    text-align: center;
}

.ProjectsCardsContainer .HoverContainerContainer p {
    color: white;
}

.ProjectsCardsContainer:hover {
    transform: scale(1.06);
    transition: .5s;
}

.ProjectsCardsContainer .heightContainer {
    height: 600px;
    overflow: hidden;
    /* border: 1px solid red; */
    margin: 40px 0px;
    border-radius: 20px;
    position: relative;
    transition: .5s;
    /* padding: 20px; */
}

.ProjectsCardsContainer .heightContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.OverlayContainerShadow {
    height: 100%;
    width: 100%;
    background-color: rgb(13, 42, 59);
    position: absolute !important;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    margin: 0px !important;
    transition: .5s;
}

.ProjectsCardsContainer:hover .OverlayContainerShadow {
    height: 100%;
    width: 100%;
    background-color: rgb(13, 42, 59);
    position: absolute !important;
    left: 0px;
    top: 0px;
    opacity: 0.8;
    margin: 0px !important;
    backdrop-filter: blur(1px);
    transition: .5s;
}

.HoverContainerContainer p {
    transform: translateY(100px);
    transition: .5s;
}

.ProjectsCardsContainer .HoverContainerContainer h2 {
    transform: translateY(0px);
    transition: .5s;
    font-weight: 600;
}

.ProjectsCardsContainer:hover .HoverContainerContainer h2 {
    transform: translateY(0px);
    transition: .5s;
}

.ProjectsCardsContainer:hover .HoverContainerContainer p {
    transform: translateY(0);
    transition: .5s;
}

.ProjectsNamesCategoriesContainer ul {
    display: flex;
    flex-direction: column;
}

.ProjectsNamesCategoriesContainer ul li {
    color: black;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: .5s;
    margin: 7px 0px;
}

.ProjectsNamesCategoriesContainer ul li:hover {
    color: #2989BC;
    list-style: none;
    color: 2989BC;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: .5s;
    margin: 7px 0px;
    transform: translateX(5px);
    transition: .5s;
    cursor: pointer;
}

.ProjectsNamesCategoriesContainer {
    position: sticky;
    top: 225px;
}

.ProjectsNamesCategoriesContainer ul {
    padding: 0px;
    list-style: none;
}

.AnimatedScrollingCards .ant-row .ant-col:nth-child(2) .ProjectsCardsContainer:last-child .heightContainer {
    margin-bottom: 0px !important;
}

.ant-image {
    width: 50%;
    padding: 3px;
    height: 300px;
}

.ant-image .ant-image-img {
    width: 100%;
    height: 100%;
}

.ProjectsFilterButtonContainer {
    display: none;
}

.FloatingFilterButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #3189BC;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: none;
}

.FloatingFilterButton svg {
    font-size: 20px;
}


@media (max-width:900px) {
    .FloatingFilterButton {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
    }

    .ProjectsCardsContainer .heightContainer {
        height: 400px;
        overflow: hidden;
        /* border: 1px solid red; */
        margin: 20px 0px;
        border-radius: 20px;
        position: relative;
        transition: .5s;
        /* padding: 20px; */
    }

    .ProjectsFilterButtonContainer {
        display: block;
    }

    #AllProjectsPageContainer .ProjectsSectionHeading {
        font-size: 30px;
        width: 100%;
        position: static;
    }

    .ant-image {
        width: 100%;
        padding: 3px 0px;
        height: 400px;
    }

    .ant-image .ant-image-img {
        width: 100%;
        height: 100%;
    }

    .ProjectsNamesCategoriesContainer {
        display: none;
    }
}