.ContactMapContainers iframe {
    border: none;
    width: 100%;
}
.ContactMapContainers .ant-row .ant-col {
    padding: 10px;
    width: 100%;
}

@media (max-width:900px){
    .ContactMapContainers .ant-row .ant-col {
        padding: 10px 0px;
        width: 100%;
    }
}