@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0px;
  margin: 0px;
  /* font-family: "Barlow", serif; */
  font-family: "Poppins", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  /* font-family: "Barlow", serif; */
  font-family: "Poppins", serif;
}

span,
li,
a {
  /* font-family: "Barlow", serif; */
  font-family: "Poppins", serif;
  text-decoration: none;
}

.sectionPadding {
  padding: 80px 120px;
}

p {
  font-size: 18px;
  color: #20201dbf;
  /* font-family: "Barlow", serif; */
  font-family: "Poppins", serif;
}

.ant-modal-mask {
  backdrop-filter: blur(5px);
}



@media (min-width:1500px) and (max-width:4000px) {
  .sectionPadding {
    padding: 80px 200px;
  }
}

@media (max-width:900px) {
  .sectionPadding {
    padding: 80px 10px;
  }

}

@media(min-width:900px) and (max-width:1100px) {
  .sectionPadding {
    padding: 80px 10px;
  }

}